# Ignore large CSV files
full_erasure_data/
data_no_log_probs/

xz_corr_err_data.csv 
zx_corr_err_data.csv
zx_circuit_data.csv
xz_circuit_data.csv


__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.lib
*.exp
build/
dist/
*.egg-info/
.eggs/
.ipynb_checkpoints/
.venv/
.venv312/
